*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0 50px;
}

main {
  display: block;
}

#gallery {
  display: flex;
  justify-content: space-between;
}

#gallery > li {
  list-style: none;
}

#gallery img {
  width: 300px;
  height: 200px;
}

#counter {
  display: flex;
  width: 100px;
  height: 30px;
}

#counter > button {
  width: 30px;
  height: 30px;
  border: none;
  outline: 1px solid #474747;
}

#value {
  color: #fff;
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #474747;
}

#validation-input {
  outline: none;
}

#validation-input.valid {
  outline: 2px solid #198b1d;
}

#validation-input.invalid {
  outline: 2px solid #c92a1f;
}
